<%- include("header") -%>

<h1>About</h1>

<div class="about"> 
    <p>
        The comprehensive news portal covers all the latest developments on a real-time basis in the fields of politics, sports, business, lifestyle, entertainment and even local city issues, offering you a complete perspective of your world. Analysis from expert and celebrity columnists give you unique insight into developments, helping you stay a step ahead. The website and its social handles also feature unique content – such as ‘Aur Batao’ a popular celebrity talk show. Hindustantimes.com was ranked amongst the top 10 international news sites by Forbes in 2007. Hindustantimes.com sees 64 million unique visitors and over 400 million pages viewed per month.
    </p>
</div>

<%- include("footer") -%>